body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image_wrapper img{
  width: 100%;
}

.container{
  width: 800px;
  height: 100vh;
  margin:0 auto;
  display: flex;
  visiblility:hidden;
  align-items: center;
}

.image_wrapper{
  position: relative;
  z-index: 1;
}
.image_wrapper::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
}